
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: hsl(225, 100%, 94%);
    font-size: 16px; 
    color: hsl(224, 23%, 55%);
}

.countainer{
    width: 25rem;
    background-color: white;
    border-radius: 15px; 
    box-shadow: 0px 15px 15px 0px hsl(228, 73%, 85%);
    scale: 1.1;
}

h1{
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 900;
}

.main{  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1.5em 2em 2em 2em;
    
}

.main-image{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

.musci-countainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: hsl(225, 100%, 98%);
    padding: 1em;
    border-radius: 15px;
}

.icon{
    margin-right: 1em;
}

.text-anual-countainer{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.text-anual{
    margin: auto;
}

.anual{
    display: flex;
    align-items: center;
}

button{
    margin: 2em;
    height: 3em;
    border-radius: 10px;
    width: 100%;
    border: none;
    background-color: hsl(245, 75%, 52%);
    color: white;
    box-shadow: 0px 15px 20px 5px hsl(229, 100%, 95%);
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
}

button:hover{
    background-color: hsl(245, 75%, 68%);
}

.cancel{
    text-decoration:none;
    color: hsl(224, 23%, 55%); ;
    font-weight: 900;
    font-size: 14px;
}

.change{
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
}

.black{
    color: black;
}




